***Analise e Limpeza de Julho***

In [ ]:
import pandas as pd #para ler, visualizar e printar infos do DataFrame
import numpy as np #numpy porque é sempre bom importar numpy né 
import matplotlib.pyplot as plt #para construir e customizar gráficos
import seaborn as sns #para visualizar uns gráficos

In [ ]:
link2 = 'https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2021/2021-07-gasolina-etanol.csv'
dados_jul = pd.read_csv(link2,sep=';')
dados_jul

      Região - Sigla  ...                      Bandeira
0                 NE  ...                      IPIRANGA
1                 NE  ...                      IPIRANGA
2                 NE  ...                      IPIRANGA
3                 NE  ...  PETROBRAS DISTRIBUIDORA S.A.
4                 NE  ...  PETROBRAS DISTRIBUIDORA S.A.
...              ...  ...                           ...
47844             SE  ...                        BRANCA
47845             SE  ...                        BRANCA
47846             SE  ...                        BRANCA
47847             SE  ...                    RIO BRANCO
47848             SE  ...                    RIO BRANCO

[47849 rows x 16 columns]

***Descrição utilizando 'ALL' para conter todos os dados***

In [ ]:
dados_jul.describe(include= 'all')

       Região - Sigla Estado - Sigla  ... Unidade de Medida Bandeira
count           47849          47849  ...             47849    47849
unique              5             27  ...                 1       50
top                SE             SP  ...        R$ / litro   BRANCA
freq            24152          16315  ...             47849    17702
mean              NaN            NaN  ...               NaN      NaN
std               NaN            NaN  ...               NaN      NaN
min               NaN            NaN  ...               NaN      NaN
25%               NaN            NaN  ...               NaN      NaN
50%               NaN            NaN  ...               NaN      NaN
75%               NaN            NaN  ...               NaN      NaN
max               NaN            NaN  ...               NaN      NaN

[11 rows x 16 columns]

***Print Informações do DataFrame***

In [ ]:
dados_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47849 entries, 0 to 47848
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Região - Sigla     47849 non-null  object
 1   Estado - Sigla     47849 non-null  object
 2   Município          47849 non-null  object
 3   Revenda            47849 non-null  object
 4   CNPJ da Revenda    47849 non-null  object
 5   Nome da Rua        47849 non-null  object
 6   Número Rua         47815 non-null  object
 7   Complemento        9659 non-null   object
 8   Bairro             47714 non-null  object
 9   Cep                47849 non-null  object
 10  Produto            47849 non-null  object
 11  Data da Coleta     47849 non-null  object
 12  Valor de Venda     47849 non-null  object
 13  Valor de Compra    0 non-null      float64
 14  Unidade de Medida  47849 non-null  object
 15  Bandeira           47849 non-null  object
dtypes: float64(1), object(15)
memory usage: 5.8+ MB

***Converter 'Valor de Venda' para float***

In [ ]:
dados_jul["Valor de Venda"] = dados_jul["Valor de Venda"].replace(",",".", regex=True).astype(float)

***Converter coluna 'Data da Coleta' para data***

In [ ]:
dados_jul['Data da Coleta'] = dados_jul['Data da Coleta'].astype('datetime64[ns]')

In [ ]:
dados_jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47849 entries, 0 to 47848
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Região - Sigla     47849 non-null  object
 1   Estado - Sigla     47849 non-null  object
 2   Município          47849 non-null  object
 3   Revenda            47849 non-null  object
 4   CNPJ da Revenda    47849 non-null  object
 5   Nome da Rua        47849 non-null  object
 6   Número Rua         47815 non-null  object
 7   Complemento        9659 non-null   object
 8   Bairro             47714 non-null  object
 9   Cep                47849 non-null  object
 10  Produto            47849 non-null  object
 11  Data da Coleta     47849 non-null  datetime64[ns]
 12  Valor de Venda     47849 non-null  float64
 13  Valor de Compra    0 non-null      float64
 14  Unidade de Medida  47849 non-null  object
 15  Bandeira           47849 non-null  object
dtypes: datetime64[ns](1), float64(2), object(13)
memory usage: 5.8+ MB

***Vericando dados nulos para cada coluna***

In [ ]:
dados_jul.isna().sum()

Região - Sigla           0
Estado - Sigla           0
Município                0
Revenda                  0
CNPJ da Revenda          0
Nome da Rua              0
Número Rua              34
Complemento          38190
Bairro                 135
Cep                      0
Produto                  0
Data da Coleta           0
Valor de Venda           0
Valor de Compra      47849
Unidade de Medida        0
Bandeira                 0
dtype: int64

***Remover do dataframe qualquer duplicata presente:***

In [ ]:
#dados_jul = dados_jul.drop_duplicates()
dados_jul.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
47844    False
47845    False
47846    False
47847    False
47848    False
Length: 47849, dtype: bool

***Subistituir dados nulos por "Sem complemento"***

In [ ]:
dados_jul = dados_jul.fillna("Sem Complemento")

***Deletar a coluna "Valor de Compra" (não possui dados)***

In [ ]:
del dados_jul['Valor de Compra']

***Substituir todos "Sem Complemento" na coluna Bairro pela string "N/A"***

In [ ]:
dados_jul['Bairro'] = dados_jul['Bairro'].replace(['Sem Complemento'],'N/A')

#***Verificando alterações***

In [ ]:
dados_jul

      Região - Sigla  ...                      Bandeira
0                 NE  ...                      IPIRANGA
1                 NE  ...                      IPIRANGA
2                 NE  ...                      IPIRANGA
3                 NE  ...  PETROBRAS DISTRIBUIDORA S.A.
4                 NE  ...  PETROBRAS DISTRIBUIDORA S.A.
...              ...  ...                           ...
47844             SE  ...                        BRANCA
47845             SE  ...                        BRANCA
47846             SE  ...                        BRANCA
47847             SE  ...                    RIO BRANCO
47848             SE  ...                    RIO BRANCO

[47849 rows x 15 columns]